.album-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-item img{
  width: 270px;
  height: 270px;
  overflow: hidden;
}

.album-item {
  margin: 20px;
  line-height: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.album-item:hover {
  outline: 5px solid #e2e23d;
}
