.show-splash {
  width: 100%;
  height: 200px;
  background-image: url("http://res.cloudinary.com/doepem37s/image/upload/v1478242224/Spotlight/theaterseats.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
  position: relative;
}

.show-splash h1{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  position: absolute;
  top: 20px;
  left: 50px;
}

.show-info {
  position: absolute;
  top: 70px;
  left: 50px;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.album-art {
  float: left;
  width: 40%;
}

.album-art img{
  width: 75%;
}

.album-tracks-container {
  display: flex;
  justify-content: flex-start;
}

.album-track-list {
  float: right;
  width: 90%;
  margin-top: 20px;
}

.album-track-list li {
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
}

.album-track-list li:hover {
  background-color: #B22222;
}

.album-track-list h3 {
  font-size: 20px;
  font-weight: bold;
}

.album-track-list p{
  font-size: 15px;
}
