.show-splash {
  width: 100%;
  height: 230px;
  background-image: url("http://res.cloudinary.com/doepem37s/image/upload/v1478242224/Spotlight/theaterseats.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
  position: relative;
}

.show-splash h1{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 250px;
}

.show-info {
  position: absolute;
  top: 80px;
  left: 250px;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.album-art {
  position: absolute;
  display: flex;
  top: 15px;
  left: 30px;
}

.album-art img {
  height: 200px;
  width: 200px;
}

.album-tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.album-tracks-container h2{
  font-size: 30px;
}

.album-track-list {
  float: left;
  width: 65%;
  min-width: 400px;
  margin-top: 10px;
}

.album-track-list li {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 12px;
}

.album-track-list li:hover {
  background-color: #B22222;
}

.album-track-list h3 {
  font-size: 20px;
  font-weight: bold;
}

.album-track-list p{
  font-size: 15px;
}

.no-track-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.track-form {
  width: 80%;
  margin: auto;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color: #a8a8a8;*/
}

.track-form h2{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.track-form label {
  font-size: 18px;
  width: 80%;
  font-weight: bold;
  margin: auto;
}

.track-form-input {
  margin: 5px;
  border: 1px solid black;
  width: 100%;
  /*background-color: #FFF5EE;*/
}

.track-form-lyrics textarea {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  /*background-color: #FFF5EE;*/
}

.track-form-button {
  color: black;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 7px;
  padding: 7px;
  font-weight: bold;
}

.track-form-button:hover {
  color: #B22222;
  border: 2px solid #B22222;
}

.track-errors {
  color: #B22222;
  margin: auto;
}
