.no-annotation-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.annotation-form {
  border-left: 5px solid black;
  color: white;
  width: 85%;
  margin: auto;
}

.annotation-form-body {
  width:80%;
  height: 100px;
  border: 1px solid black;
  color: black;
  margin: 20px;
  padding: 10px;
}

.annotation-form button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.annotation-form button:hover {
  border-color: #B22222;
  color: #B22222;
}

.annotation-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid black;
  width: 80%;
  padding: 5px;
}

.annotation-show img {
  margin-right: 3px;
}

.annotation-username {
  font-size: 15px;
  font-weight: bold;
}

.annotation-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.annotation-delete img{
  width: 15px;
}

.annotation-header nav {
  line-height: 0;
  width: 40px;
  margin: 0;
  padding: 0;
  height: 20px;
  background-color: #FFF5EE;
}

.annotation-body {
  width: 95%;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annotation-footer {
  width: 100%;
}

.upvote-button {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_15/v1481601478/Spotlight/shapes.png");
}

.unvote-button {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_15/v1481601478/Spotlight/heart-red.png");
}

.upvotes {
  margin-left: 15px;
  margin-bottom: 10px;
  float: left;
}
