.no-annotation-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.annotation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BFBFBF;
  color: white;
  width: 85%;
  border-radius: 10px;
  margin: auto;
  /*border: 1px solid #BFBFBF;*/
}

.annotation-form-body {
  width:80%;
  height: 100px;
  background-color: white;
  /*border: 1px solid #BFBFBF;*/
  color: black;
  margin-top: 20px;
  padding: 10px;
}

.annotation-form button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annotation-form button:hover {
  border-color: #B22222;
  color: #B22222;
}

.annotation-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.annotation-show {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 80%;
  padding: 5px;
}

.annotation-username {
  font-size: 15px;
  font-weight: bold;
}

.annotation-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.annotation-delete img{
  width: 15px;
}

.annotation-header nav {
  width: 40px;
  margin: 0;
  padding: 0;
  height: 20px;
}

.annotation-body {
  width: 85%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.annotation-footer {
  width: 100%;
}

.upvote-button {
  width: 15px;
  height: 15px;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_15/v1478626744/Spotlight/Thumbsup-Icon.png");
}

.unvote-button {
  width: 15px;
  height: 15px;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_15/v1478731204/Spotlight/Thumbsup-Icon-red.png");
}

.upvotes {
  margin-left: 15px;
  margin-bottom: 10px;
  float: left;
}
