.no-annotation-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.annotation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #B22222;
  color: white;
  width: 85%;
  border-radius: 10px;
  margin: auto;
}

.annotation-form h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.annotation-form-body {
  width:80%;
  height: 100px;
  background-color: white;
  color: black;
  padding: 10px;
}

.annotation-form button {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid white;
}

.annotation-form button:hover {
  border-color: black;
  color: black;
}

.annotation-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}

.annotation-show {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 80%;
  padding: 5px;
}

.annotation-username {
  font-size: 15px;
  font-weight: bold;
}

.annotation-show p {
  font-size: 25px;
}

.annotation-header {
  display: flex;
  justify-content: space-between;
}

.annotation-delete img{
  width: 15px;
}

.upvote-button {
  width: 15px;
}
