.comment-title {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: bold;
  width: 80%;
  margin: auto;
}

.no-comment-form {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-form {
  width: 80%;
  margin: auto;
}

.comment-form-body {
  width:100%;
  min-height: 30px;
  border: 1px solid #151515;
  color: #151515;
  padding: 10px;
}

.comment-form button {
  padding: 5px;
  border-radius: 5px;
  color: #151515;
  border: 1px solid #151515;
  margin-top: 5px;
  margin-bottom: 20px;
}

.comment-form button:hover {
  box-shadow: 5px 5px 5px #7e7e7e;
}

.comments-index {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.comments-index li {
  color: #151515;
  border-left: 5px solid #151515;
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
}

.comment-username {
  font-size: 16px;
  font-weight: bold;
}

#comment-time {
  font-size: 15px;
  font-weight: normal;
}

.comments-index p {
  font-size: 20px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-delete img{
  width: 15px;
}

p .login-link:hover {
  color: #e2e23d;
}
