nav {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  color: white;
  background-color: black;
  max-width: 1341px;
  margin: auto;
  font-size: 24px;
}

nav ul {
  display: flex;
}

nav li {
  font-size: 18px;
  padding-right: 15px;
  position: relative;
  height: 24px;
  padding-top: 3px;
}

nav h1 {
  font-family: 'Limelight', cursive;
  padding-left: 10px;
  padding-bottom: 7px;
}

.icon {
  width: 30px;
}

nav h1:hover {
  color: #e2e23d;
  cursor: pointer;
}

nav li:hover {
  color: #e2e23d;
}

.nav-dropdown ul {
  display: flex;
  flex-direction: column;
}

.dropdown-header:hover .nav-dropdown{
  display: block;
}

nav .dropdown-header {
  margin-right: 10px;
  position: relative;
  height: 30px;
  padding-bottom: 9px;
  padding-top: 1px;
  cursor: pointer;
}

.dropdown-header span {
  height: 30px;
}

.nav-dropdown {
  display: none;
  width: 120px;
  background-color: #2a2a2a;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 40px;
  right: 0px;
}

.nav-dropdown li{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid white;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.nav-dropdown li:last-child{
  border-bottom: 0;
}

.header-prof-pic{
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.header-button {
  vertical-align: top;
}

.header-username{
  padding-right: 4px;
  vertical-align: top;
  font-size: 20px;
}

.footer {
  display: flex;
  background-color: black;
  justify-content: center;
}

.footer a{
  padding: 8px;
  line-height: 0;
}

.footer img {
  width: 25px;
}
