/*nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding-right: 10px;
}

nav h1 {
  font-family: 'Limelight', cursive;
}*/
