nav {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #B22222;
  color: white;
  max-width: 1341px;
  margin: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding-right: 10px;
}

nav li:hover {
  color: black;
}

nav h1 {
  font-family: 'Limelight', cursive;
  padding-left: 10px;
}

nav h1:hover {
  color: black;
}

.icon {
  width: 20px;
}

.icon:hover {
  
}
