.home-top {
  position: relative;
  max-width: 1340px;
  width: 100%;
  min-height: 580px;
  margin: auto;
  background-color: rgba(0,0,0,1);
  color: white;
  text-align: center;
  font-weight: bold;
}

.home-pic {
  overflow: hidden;
  max-width: 1340px;
  width: 100%;
  min-height: 580px;
  opacity: 0.3;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/v1478043010/broadway_wsfzku.jpg");
}

.home-top h2 {
  position: absolute;
  top: 45px;
  left: 90px;
  font-size: 70px;
  font-family: 'Limelight', cursive;
  line-height: 1;
  width: 350px;
}

.home-top h3 {
  position: absolute;
  top: 130px;
  left: 90px;
  font-size: 50px;
  line-height: 1.3;
  width: 380px;
}

.home-top p {
  position: absolute;
  bottom: 60px;
  right: 90px;
  font-size: 40px;
  line-height: 1;
  width: 350px;
}

#home-albums h2 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

#home-albums {
  background-color: #151515;
}

.site-info {
  color: #151515;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.site-info h2{
  font-weight: bold;
  font-size: 28px;
}

.site-info p{
  font-size: 24px;
  font-weight: normal;
}

.site-info section{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.site-info section .exp {
  float: left;
  width: 60%;
  padding-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.site-info section .exp-img {
  float: right;
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 450px;
  width: 90%;
  background-size: cover;
}

.exp-comment-img {
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_450/v1480149987/Spotlight/stage-door-2.jpg');
  height: 250px;
}

.exp-annot-img {
  height: 260px;
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_400/v1480150947/Spotlight/600x390.jpg');
}

.exp-track-img {
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_400/v1480224396/Spotlight/annotation.gif');
  height: 290px;
}

.site-info section .exp2 {
  float: right;
  width: 60%;
  padding-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

.site-info section .exp-img2 {
  float: left;
  width: 40%;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 450px;
  width: 90%;
  height: 250px;
  background-size: cover;
}
