.home {
  position: relative;
  max-width: 1340px;
  width: 100%;
  min-height: 580px;
  margin: auto;
  background: -webkit-linear-gradient(right, rgba(0,0,0,0.4), rgba(0,0,0,1));
}

.home-pic {
  overflow: hidden;
  max-width: 1340px;
  width: 100%;
  min-height: 580px;
  opacity: 0.4;
  background-image: url("http://res.cloudinary.com/doepem37s/image/upload/v1478043010/broadway_wsfzku.jpg");
}

.home p {
  position: absolute;
  top: 60px;
  left: 90px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  width: 350px;
  color: white;
  text-align: center;
}
