.prof-details{
  background-color: black;
  color: white;
  position: relative;
}

.profile h1 {
  font-size: 30px;
  font-weight: bold;
}

.prof-pic {
  border: 3px solid white;
  width: 300px;
  height: auto;
  margin: auto;
}

.user-details {
  box-sizing: border-box;
  width: 40%;
  text-align: center;
  float: left;
  position: relative;
  top: -60px;
}

.splash-img-box {
  max-width: 1340px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.contributions {
  float: right;
  width: 60%;
}

.drop-word:hover {
  color: #B22222;
}

.stats-list img {
  height: 25px;
  width: 25px;
}

.stats-list li {
  padding: 5px;
  vertical-align: center;
}
