.prof-details{
  background-color: #151515;
  color: white;
  position: relative;
}

.profile h1 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prof-pic {
  max-width: 300px;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 12%;
}

.user-details {
  float: left;
  position: relative;
  top: -60px;
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  line-height: 1.5;
  background-color: #2a2a2a;
  border-radius: 5px;
  margin-left: 3%;
}

.splash-img-box {
  max-width: 1340px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  opacity: 0.6;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/v1478043010/broadway_wsfzku.jpg");
}

.contributions {
  float: right;
  width: 65%;
  box-sizing: border-box;
  padding-left: 50px;
}

.stats-list {
  padding-bottom: 20px;
}

.stats-list img {
  height: 25px;
  width: 25px;
  position: absolute;
  left: -25px;
}

.stats-list li {
  font-size: 16px;
  padding: 7px;
  vertical-align: center;
}

.stats-list span {
  position: relative;
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 6px;
}

.annotation-logo {
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_22/v1481601478/Spotlight/annotation-white.png');
  height: 20px;
  width: 20px;
}

.transcription-logo {
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_22/v1481601478/Spotlight/musical-note-white.png");
  height: 20px;
  width: 20px;
}

.comment-logo {
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_22/v1481601478/Spotlight/comment-white.png');
  height: 20px;
  width: 20px;
}

.contributions h2{
  font-size: 28px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contributions-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151515;
}

.contributions-menu li{
  display: inline-block;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  cursor: pointer;
  border-bottom: 4px solid #151515;
}

.contributions-menu li:hover{
  color: #e2e23d;
}

.contributions-menu .active {
  border-bottom: 4px solid #7e7e7e;
  color: #e2e23d;
}

.contribution-list {
  padding-top: 10px;
  margin-bottom: 20px;
  max-width: 590px;
  width: 95%;
  border-top: 1px solid #7e7e7e;
}

.contribution-list ul {
  width:85%;
  max-width: 550px;
  margin: auto;
  padding-bottom: 10px;
}

.contribution-list li {
  color: white;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.contribution-list li:last-of-type {
  border-bottom: none;
}

.contribution-list li:hover{
  border-left: 5px solid #e2e23d;
}

.contribution-title {
  font-size: 22px;
  font-weight: bold;
}
