.prof-details{
  background-color: black;
  color: white;
  position: relative;
}

.profile h1 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 30px;
}

.prof-pic {
  border: 3px solid white;
  max-width: 300px;
  width: 70%;
  height: auto;
  margin: auto;
}

.user-details {
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  float: left;
  position: relative;
  top: -60px;
}

.splash-img-box {
  max-width: 1340px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.contributions {
  float: right;
  width: 70%;
}

.stats-list img {
  height: 25px;
  width: 25px;
  position: absolute;
  left: -25px;
}

.stats-list li {
  font-size: 18px;
  padding: 7px;
  vertical-align: center;
}

.stats-list span {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.contributions h2{
  font-size: 28px;
  margin-top: 20px;
  cursor: pointer;
}

.contributions-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.contributions-menu li{
  display: inline-block;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 7px 7px 0 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
}
.contributions-menu li:first-child {
  border-left: 1px solid #ccc;
}

.contributions-menu li:hover{
  background-color: gray;
}

.contributions-menu li:focus, .active {
  background-color: #ccc;
  border-bottom: 0;
  color: black;
}

.contribution-list {
  background-color: #ccc;
  padding-top: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  max-width: 510px;
}

.contribution-list ul {
  width:85%;
  max-width: 450px;
  margin: auto;
  margin-top: 15px;
}

.contribution-list li {
  color: black;
  border-left: 5px solid black;
  padding: 5px;
  margin-bottom: 15px;
}

.contribution-list li:hover{
  color: #B22222;
  border-left: 5px solid #B22222;
}

.contribution-title {
  font-size: 20px;
  font-weight: bold;
}
