.search-icon {
  height: 20px;
  width: 20px;
  margin-top: 7px;
  margin-left: 12px;
  background-image: url('http://res.cloudinary.com/doepem37s/image/upload/c_scale,w_20/v1482539822/Spotlight/search.png');
}

.search-input {
  font-size: 24px;
  margin-left: 30px;
  position: relative;
}

.close-search {
  position: absolute;
}

.search-results {
  z-index: 5;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-art {
  width: 205px;
  height: 205px;
  overflow: hidden;
}

.search-item {
  display: flex;
  width: 205px;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
}

.search-item:hover {
  cursor: pointer;
}

.search-album-title {
  font-size: 15px;
}

.search-track-title {
  font-weight: bold;
  font-size: 20px;
}
