.track-explain-modal {
  font-size: 16px;
  color: black;
  text-align: center;
}

.annotation-screenshot {
  width: 100%;
  min-height: 292px;
  background-image: url('https://res.cloudinary.com/doepem37s/image/upload/c_scale,w_400/v1480224396/Spotlight/annotation.gif');
  background-size: cover;
}

.track-show {
  background-color: #FFF5EE;
}

.track-splash {
  width: 100%;
  height: 200px;
  background-image: url("https://res.cloudinary.com/doepem37s/image/upload/v1478242224/Spotlight/theaterseats.jpg");
  background-size: cover;
  overflow: hidden;
  color: white;
  position: relative;
}

.track-splash h1{
  font-family: 'Limelight', cursive;
  font-size: 40px;
  position: absolute;
  top: 15px;
  left: 50px;
}

.track-info {
  position: absolute;
  top: 60px;
  left: 50px;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}

.track-lyrics {
  padding: 25px;
}

pre {
  white-space: pre-wrap;
}

.back-to-album:hover {
  font-weight: bolder;
  font-size: 23px;
}

.track-delete img {
  width: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.track-show article {
  float: left;
  width: 60%;
}

.track-show aside {
  float: right;
  width: 40%;
  position: absolute;
}

.explain {
  background-color: #FFF5EE;
  position: fixed;
  top: 260px;
  left: 40%;
  width: 170px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  /*box-shadow: 5px 5px 5px #888888;*/
  -webkit-animation-name: bounce;
  animation: bounce 2s infinite;
}

.highlight {
  background-color: #CDCDCD;
  cursor: pointer;
}

.highlight:hover {
  background-color: #ffff7f;
}

.highlight .active {
  background-color: #ffff7f;
}

.non-annotated{
  -moz-user-select: all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -o-user-select: all;
  user-select: all;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
